.out-2{
    font-size: 20px;
    font-weight: 500;
    color: #717171;
}

.nx-gen-btn{
border: none;
padding: 10px;
background-color: #60DD4E;
border-radius: 50px;
color: white;
font-weight: bold;

width: 60%;
position: relative;
top: 10%;
display: block;
}

.onx-gen-btn{
    display: none;
}

.box{
    background-color: rgb(196, 196, 196);
    position: relative;
    width: 80%;
    height: 90%;
    left: 25%;
    top: 50%;
    text-align: center;
    

}

.tx{
    text-align: center;
   position: relative;
   top: 40%;
   font-size: 24px;
}

.bot{

}

.nic{
    width: 100%;
    position: relative;

}

@media only screen and (max-width: 768px) {
    .ho-txt{
        font-size: 36px;
    }

    .onx-gen-btn{
        border: none;
        padding: 10px;
        background-color: #60DD4E;
        border-radius: 50px;
        color: white;
        font-weight: bold;
        
        width: 60%;
        position: relative;
        top: 0%;
        display: block;
        
        }

        .nx-gen-btn{
            display: none;
        }
        
}